.body{
  background:linear-gradient(#CAC531,#F3F9A7);
  margin:0;
  min-height: 100vh;
}
.heading{
  color:green;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.image{
  width:300px;
  height:250px;
  display: block;
  margin:auto;
}
.para{
  color:black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.point{
  text-align: center;
  list-style-position: inside;
  color:black;
  font-weight: bold;
  font-size: 16px;
}
.paraa{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.ques{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color:red;
}
.que{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color:black;
}
.hea{
  font-size: 18px;
  font-weight: bold;
  color:black;
  text-align: center;
}
.tai{
  color:purple;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

