.hea{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color:white;
  padding:40px;
  margin:0;
  }
body{
  background-color: black;
}
.row{
  display: flex;
  gap:70px;
}
.suv{
  color:yellow;
}
.sub{
  color:white;
  font-size:20px;
}
.par{
  color:white;
  font-size:16px;
  font-weight: bold;
  
}
.pair{
  color:white;
  font-size: 22px;
  font-weight: bold;
}
