body{
  background-color:orange;
}
.heading{
  font-size: 52px;
  text-align:center;
  font-weight:bold;
  color:yellow;
  margin-bottom:10px;
}
.sub{
  color:blue;
  font-size:35px;
  font-weight: bold;
  margin-bottom:15px;
}
.news-item {
  display: flex;           
  align-items: flex-start; 
  gap: 20px;               
  margin-top:2px;
}

.image1 {
  width:400px;
  height: auto;
  border-radius: 8px;     
}

.para {
  flex: 1; 
  font-size:24px;
  font-weight:bold;
}   
.news{
  color:blue;
  font-size:35px;
  font-weight: bold;
  margin-top:10px;
}
.image2{
  width:400px;
  height:auto;
  border-radius: 8px;
  margin-top:5px;
}   
.para1{
  flex: 1; 
  font-size:24px;
  font-weight:bold;
} 
